{namespace core = TYPO3\CMS\Core\ViewHelpers}
<f:be.container
        includeCssFiles="{0: '{f:uri.resource(path:\'Css/iconstyle.css\')}'}"
        includeJsFiles="{0: '{f:uri.resource(path:\'Js/iconChooser.js\')}'}"
        includeRequireJsModules="{0: 'SYRADEV/RtPagesTreeIcons/pageIconChanger'}">

    <div class="module" data-module-name="Icon page changer">
        <div class="module-docheader t3js-module-docheader">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
                <div class="module-docheader-bar-column-left"></div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pagePath />
                    <f:be.pageInfo />
                </div>
            </div>
            <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    <div class="btn-toolbar" role="toolbar">
                        <f:form action="changepageicon" method="post" arguments="{pageId:pageId}">
                            <f:if condition="{page0}">
                                <f:else>
                                    <f:form.button type="submit" class="btn btn-default">
                                        <core:icon identifier="actions-document-save" size="small" />&nbsp;<f:translate key="save_label" />
                                    </f:form.button>
                                    <f:form.hidden name="newIcon" id="newIcon" value="{selectedIcon}" />
                                </f:else>
                            </f:if>
                            <div class="syradev typo3-login-copyright-text">
                                <core:icon identifier="actions-pagetree-change-page-icon" size="small" />&nbsp;
                                <f:translate key="module_title" /> - <span class="orange">V{version}</span> - SYRADEV&nbsp;&copy;&nbsp;<f:format.date date="now" format="Y" />
                            </div>
                        </f:form>
                    </div>
                </div>
                <div class="module-docheader-bar-column-right">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group" role="group">
                            <f:if condition="{page0}">
                                <f:else>
                                    <f:link.action action="editPageProperties"
                                                   arguments="{pageId:pageId}"
                                                   title="{f:translate(key: 'LLL:EXT:core/Resources/Private/Language/locallang_mod_web_list.xlf:editPage')}" class="btn btn-default btn-sm">
                                        <core:icon identifier="actions-version-page-open" size="small" />
                                    </f:link.action>
                                </f:else>
                            </f:if>
                            <f:be.buttons.shortcut/>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="typo3-fullDoc">
            <div id="typo3-docbody">
                <div id="typo3-inner-docbody">
                    <f:if condition="{page0}">
                        <f:then>
                            <f:render section="content0" />
                        </f:then>
                        <f:else>
                            <f:render section="content" />
                        </f:else>
                    </f:if>
                </div>
            </div>
        </div>

    </div>
</f:be.container>
