<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

<f:flashMessages />

<f:be.pageRenderer includeCssFiles="{0: '{f:uri.resource(path:\'Css/iconStyle.css\')}'}"
                   includeJsFiles="{0: '{f:uri.resource(path:\'JavaScript/iconChooser.min.js\')}'}"
                   includeRequireJsModules="{0: 'SYRADEV/RtPagesTreeIcons/pageIconChanger'}"
/>

<f:if condition="{page0}">
    <f:then>
        <f:render section="Content0"/>
    </f:then>
    <f:else>
        <f:render section="Content"/>
    </f:else>
</f:if>

</html>