<html
        xmlns:core="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        data-namespace-typo3-fluid="true" lang="en">

<div class="card-icon">
    <core:icon identifier="{icon}" size="{iconSize}"/>
</div>
<div class="card-header-body">
    <div class="card-code">
        <code id="iconFluidTag">
            &lbrace;namespace core=TYPO3\CMS\Core\ViewHelpers&rbrace;
            <br>
            &lt;core:icon identifier="{icon}" size="{iconSize}"/&gt;
        </code>
    </div>
</div>
</html>