<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true" lang="en">

<f:layout name="IconChooser"/>

<f:section name="Content">
    <div>
        <f:form id="setPageIconForm" method="post" action="changePageIcon" controller="PageIcons">
            <input type="hidden" id="pageId" name="pageId" value="{pageId}"/>
            <input type="hidden" id="pageModule" name="pageModule" value="{pageInfos.module}"/>
            <input type="hidden" id="pageDoktype" name="pageDoktype" value="{pageInfos.doktype}"/>
            <input type="hidden" id="pageNavHide" name="pageNavHide" value="{pageInfos.nav_hide}"/>
            <input type="hidden" id="pageIsSiteroot" name="pageIsSiteroot" value="{pageInfos.is_siteroot}"/>
            <input type="hidden" id="newIcon" name="newIcon" value="{selectedIcon}"/>
        </f:form>
        <f:form id="setSubpagesIconsForm" method="post" action="changeSubpagesIcons" controller="PageIcons"
                enctype="multipart/form-data">
            <input type="hidden" id="pagePid" name="pagePid" value="{pageId}"/>
            <input type="hidden" id="newSubIcon" name="newSubIcon" value="{selectedIcon}"/>
        </f:form>
    </div>

    <div class="callout callout-warning">
        <div class="media">
            <div class="media-left">
                <div class="rticon-markups">
                    <core:icon identifier="{pageInfos.pageIcon}" size="large"/>
                    <f:if condition="{pageInfos.hidden}">
                        <f:then>
                            <div class="rticon-overlay">
                                <core:icon identifier="overlay-hidden" size="small"/>
                            </div>
                        </f:then>
                        <f:else>
                            <f:if condition="{pageInfos.limited}">
                                <f:then>
                                    <div class="rticon-overlay">
                                        <core:icon identifier="overlay-scheduled" size="small"/>
                                    </div>
                                </f:then>
                                <f:else>
                                    <f:if condition="{pageInfos.fe_group}">
                                        <f:then>
                                            <div class="rticon-overlay">
                                                <core:icon identifier="overlay-restricted" size="small"/>
                                            </div>
                                        </f:then>
                                    </f:if>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                </div>
            </div>
            <div class="media-body">
                <h1 class="callout-title">
                    <strong>
                        {pageInfos.title}&nbsp;[{pageId}]
                    </strong>
                </h1>
                <div class="callout-body">
                    [<em>
                    <f:translate key="{pageInfos.pageTypeLabel}"/>
                    </em>]
                    <f:if condition="{pageInfos.nav_hide}"> [<em>
                        <f:translate key="page.hiddenInMenu"/>
                    </em>]
                    </f:if>
                    <f:if condition="{pageInfos.hidden}=='1'"> [<em>
                        <f:translate key="page.hidden"/>
                    </em>]
                    </f:if>
                    <f:if condition="{pageInfos.limited}"> [<em>
                        <f:translate key="page.limitedInTime"/>
                    </em>]
                    </f:if>
                    <f:if condition="{pageInfos.fe_group}"> [<em>
                        <f:translate key="page.restrictedAccess"/>
                    </em>]
                    </f:if>
                </div>
            </div>
        </div>
    </div>

    <div id="icons-container" class="text-center">
        <div class="widget-waiting">
            <core:icon identifier="spinner-circle" size="large"/>
        </div>
    </div>

</f:section>

<f:section name="Content0">
    <div class="wrapper">
        <span class="arrow"><span></span></span>
        <h1>
            <f:translate key="selectapage"/>
        </h1>
    </div>
</f:section>

</html>